<!DOCTYPE html>
<html lang="en">
<head>
</head>
<meta charset="UTF-8">
<meta content="IE= edge" http-equiv="X-UA-Compatible">
<meta , content="width=device-width" initial-scale="1.0" name="viewport">
<title>Document</title>
<link rel="stylesheet" th:href="@{/css/task_song.css}">
<link rel="stylesheet" th:href="@{/task_song_font/iconfont.css}">
<script th:src="@{/task_song.js}" type="text/javascript"></script>
<script th:src="@{/task_song_font/iconfont.js}" type="text/javascript"></script>

<body>
<div class="music">
    <div class=container>
        <h1 class="musicName">music playlist</h1>
        <audio class="audio" controls></audio>
    </div>

    <div class="button">

        <span class="previous iconfont icon-previousSong"></span>
        <span class="play iconfont icon-playing"></span>
        <span class="pause iconfont icon-paused"></span>
        <span class="next iconfont icon-nextSong"></span>

        <input class="volume" max="2" min="0" step="0.1" type="range">
    </div>

</div>

</body>

</html>